<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="/public/CSS/chat_css/busca_users.css">
    <%- background_val %>
    <title>Busca de usuários</title>
</head>
<body>
    <h2>Usuários encontrados:</h2>

    <div class="container-users">
        <% usersList.forEach((user)=>{ %>
            <div class="users-wraper">
                <p><%- user %></p>
                <div class="add-friend">
                    <input type="submit" id="user_<%= user %>" name="add_friend" value="<%= user %>" style="display: none;">
                    <% if(!friends.includes(user)){ %>
                        <label for="user_<%= user %>" title="adicionar <%= user %> à sua lista de amizades">adicionar</label>
                    <% }else{ %>
                        <label for="user_<%= user %>" title="remover <%= user %> da sua lista de amizades">remover</label>
                    <% } %>
                </div><!-- add-friend -->
            </div><!-- users-wraper -->
        <% }) %>
    </div><!-- container-users -->
</body>
<script src="/public/JS/JQuery.js"></script>
<script src="/public/JS/chat_js/busca_users.js"></script>
</html>