<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="/public/CSS/chat_css/chat.css">
    <%- background_val %>
    <title>Chat</title>
</head>
<body>
    <header>
        <form action="/<%= username.split('_').join('-') %>/buscar-user" method="get">
            <div class="container-procura">
                <input type="search" id="search" name="username" placeholder="Buscar usuários">
                <div class="container-users" id="container-users">
                    <div id="users-wraper"></div><!-- users-wraper -->
                </div><!-- container-users -->
            </div><!-- container-procura -->
        </form>
    </header>

    <section class="container">
        <div class="container-friends">
            <h1>Lista de amigos:</h1>
            <div class="friends-wraper">
                <% friendsList.forEach((friend)=>{ %>
                    <div class="friend">
                        <div class="friend-icon" style="background-image: url('<%= friend.image ? friend.image : '../public/user_icons/iconDefault/icon-padrão.webp' %>');"></div><!-- friend-icon -->

                        <a href="chat/<%= friend.name.split('_').join('-') %>"><div class="friend-name"><%= friend.name %></div><!-- friend-name --></a>
                    </div><!-- friend -->
                <% }) %>
            </div><!-- friends-wraper -->
        </div><!-- container-friends -->
    </section><!-- container -->
</body>
<script src="/public/JS/JQuery.js"></script>
<script>
    const usersList = <%- JSON.stringify(usersList) %>;
</script>
<script src="/public/JS/chat_js/chat.js"></script>
</html>