<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="/public/CSS/chat.css">
    <title>Chat</title>
</head>
<body>
    <header>
        <form action="/<%= username.split('_').join('-') %>/buscar-user" method="get">
            <div class="container-procura">
                <input type="search" id="search" name="username" placeholder="Buscar usuários">
                <div class="container-users" id="container-users">
                    <div id="users-wraper"></div><!-- users-wraper -->
                    <div class="users"></div><!-- users -->
                </div><!-- container-users -->
            </div><!-- container-procura -->
        </form>
    </header>

    <section class="container">
        <div class="container-friends">
            <h1>Lista de amigos:</h1>

            <% let index = 0; %>

            <div class="friends-wraper">
                <% friends.forEach((friend)=>{ %>
                    <div class="friend">
                        <%  
                            const friendsIconsValFiltered = friendsIconsVal.filter(friendIconVal =>{
                                return friendIconVal.nameFriend.includes(friend);
                            });
                        %>

                        <% if(friendsIconsValFiltered[0].icon){
                            let name = friendsIconsValFiltered[0].nameFriend;
                            let icon = iconsFriends.filter(icon =>{
                                return icon.username.includes(name);
                            });
                        %>

                            <div class="friend-icon" style="background-image: url('<%= icon[0].data %>');"></div><!-- friend-icon -->
                        <% }else{ %>
                            <div class="friend-icon" style="background-image: url(../public/user_icons/iconDefault/icon-padrão.webp);"></div><!-- friend-icon -->
                        <% } %>

                        <% index++; %>

                        <a href="chat/<%= friend.split('_').join('-') %>"><div class="friend-name"><%= friend %></div><!-- friend-name --></a>
                    </div><!-- friend -->
                <% }) %>
            </div><!-- friends-wraper -->
        </div><!-- container-friends -->
    </section><!-- container -->
</body>
<script src="/public/JS/JQuery.js"></script>
<script>
    const usersList = <%- JSON.stringify(usersList) %>;
</script>
<script src="../public/JS/chat.js"></script>
</html>