
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="/public/CSS/chat_with_user.css">
    <title>Conversa com <%= friend %></title>
</head>
<body>
    <header>
        <div class="container-icon-friend">
            <div class="icon-wraper">
                <% if(image){ %>
                    <div class="icon-friend" style="background-image: url('<%= image %>');"></div><!-- icon-friend -->
                <% }else{ %>
                    <div class="icon-friend" style="background-image: url(/public/user_icons/iconDefault/icon-padrão.webp);"></div><!-- icon-friend -->
                <% } %>
            </div><!-- icon-wraper -->
            <h2><%= friend %></h2>
        </div><!-- container-icon-friend -->
    </header>

    <section class="container">
        <div class="container-message">
            <div class="message-wraper">
                <%
                    const user_and_friend = [username, friend];
                %>

                <% if(chat && user_and_friend.sort().toString() === usersChat.sort().toString()){
                    chat.forEach(info =>{ %>
                        <div class="message <%= info.messageFrom === username ? 'own-message' : 'other-message' %>">
                            <p><%= info.message %></p>
                        </div><!-- message -->
                    <% });
                } %>
            </div><!-- message-wraper -->
        </div><!-- box-mensage -->

        <div class="input-wraper">
            <input type="text" name="message" id="message">
            <input type="submit" name="action" id="button" value="Enviar">
        </div><!-- input-wraper -->
    </section>
</body>
<script src="/public/JS/JQuery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const username = '<%= username %>';
    const friend = '<%= friend %>';
    const users_chat = <%- JSON.stringify(usersChat) %>;
</script>
<script src="/public/JS/chat_with_user.js"></script>
</html>